<ion-app autoHide = "true" >
  <ion-menu contentId="content1" side="end" >
      <ion-header color="secondary">
        <ion-toolbar color="secondary">
          <ion-title class="title">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <section side="end">
          <ion-list>

            <ion-menu-toggle>
              <ion-item tappable [routerLink]="['/boletim']">
                <ion-icon name="home" color="light" slot="end"></ion-icon>
                <ion-label class="label" color="light">Meu Feed</ion-label>
              </ion-item>
             </ion-menu-toggle>

            <ion-menu-toggle>
              <ion-item tappable [routerLink]="['/subscriptions']">
                <ion-icon name="person" color="light" slot="end"></ion-icon>
                <ion-label  class="label" color="light">Publicadores Inscritos</ion-label>
              </ion-item>
             </ion-menu-toggle>

            <ion-menu-toggle>
              <ion-item tappable [routerLink]="['/searchPublisher']">
                <ion-icon name="search" color="light" slot="end"></ion-icon>
                <ion-label class="label" color="light">Buscar Publicador</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle>
              <ion-item tappable [routerLink]="['/perfil']">
                <ion-icon name="settings" color="light" slot="end"></ion-icon>
                <ion-label class="label" color="light">Opções de Conta</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle>
              <ion-item tappable (click) = "logout()">
                  <ion-icon name="power" color="light" slot="end"></ion-icon>
                  <ion-label  class="label" color="light">Log Out</ion-label>
              </ion-item>
            </ion-menu-toggle>

          </ion-list>

        </section>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
