.label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ececec;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #ececec;
}
.news_image{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    border: #707070;
    border-style:solid;
    border-width:4px;
    border-radius: 3px;
    width: 92%;
    height: auto;
}
.news_div{
    border: #202020;
    border-style:solid;
    border-width:4px;
    border-radius: 6px;
    height: auto;
}
.news_title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000000;
}
.news_subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
}