<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary"> 
    <ion-title>Buscar Publicadores</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div id="divInput">
    <ion-input class="ion-text-center ion-padding-vertical" class="field" placeholder="Digite seu comentário..."></ion-input>
    <ion-button class="button" color="primary">Buscar</ion-button>
  </div>
  <ion-card  color="light" class="news_div" tappable>
    <ion-card-header>
      <img src="assets/images/dcc.jpg" class="news_image" />
    </ion-card-header>
    <ion-card-title style="color:#000000" class="news_title">Departamento de Ciência da Computação</ion-card-title>
  </ion-card>
  <ion-card  color="light" class="news_div" tappable>
    <ion-card-header>
      <img src="assets/images/dea.png" class="news_image" />
    </ion-card-header>
    <ion-card-title style="color:#000000" class="news_title">Departamento de Engenharia Agrícola</ion-card-title>
  </ion-card>
</ion-content>
  