<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary">
    <ion-title>Buscar Publicadores</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



 <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let favorite of lstFavoriteNews" [routerLink]="['/details', favorite.news.id]">
    <img src="{{favorite.news.image}}" />
    <ion-card-header>
      <ion-card-title>
        {{favorite.news.title}}
      </ion-card-title>
      <ion-card-subtitle>{{favorite.news.likes | likes}} likes | {{favorite.news.publishedAt | timeAgo}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
<!-- 
  <div id="divInput">
    <ion-input class="ion-text-center ion-padding-vertical" class="field" placeholder="Digite seu comentário..."></ion-input>
    <ion-button class="button" color="primary">Buscar</ion-button>
  </div>

  <ion-card  color="light" class="news_div" *ngFor="let publicador of lstPublicadores" tappable>
    <ion-card-header>
      <img src="{{publicador.imagem}}" class="publicador_image" />
    </ion-card-header>
    <ion-card-title style="color:#000000" class="news_title">{{publicador.nome}}</ion-card-title>
  </ion-card>

</ion-content>
