<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary"> 
    <ion-title>Comentários</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div>
    <div id="divInput">
      <ion-input class="ion-text-center ion-padding-vertical" class="field" placeholder="Digite seu comentário..."></ion-input>
      <ion-button class="button" color="primary">Publicar</ion-button>
    </div>
    <div class="outer_comment">
      <div class="comment">
        <div class="map">
          <div class="comment_avatar">
            <img src="assets/images/logo.png"  alt="Logo UFLA News"/>
          </div>
          <p>Publicador com nome grande</p>
        </div>

        <div class="comment_content">
          <p >Gostei, é uma notícia realmente muito interessante mostrar que isso era fake, quase acreditei!</p>
        </div>
      </div>
    </div>
    <div class="outer_comment">
      <div class="comment">
        <div class="map">
          <div class="comment_avatar">
            <img src="assets/images/logo.png"  alt="Logo UFLA News"/>
          </div>
          <p>Sara</p>
        </div>

        <div class="comment_content">
          <p >Gostei, é uma notícia realmente muito interessante mostrar que isso era fake, quase acreditei!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="outer_comment">
    <div class="comment">
      <div class="map">
        <div class="comment_avatar">
          <img src="assets/images/logo.png"  alt="Logo UFLA News"/>
        </div>
        <p>Sara</p>
      </div>

      <div class="comment_content">
        <p >Gostei, é uma notícia realmente muito interessante mostrar que isso era fake, quase acreditei!</p>
      </div>
    </div>
  </div>
  <div class="outer_comment">
    <div class="comment">
      
      <div class="my_comment_delete">
        <ion-icon name="close" color="dark" style="font-size:25px"></ion-icon>
      </div>
      <div class="my_comment_content">
        <p >Gostei, é uma notícia reasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmentereasdfasdfasdfasdfasdfasdfasdfasdfasdfalmente muito interessante mostrar que isso era fake, quase acreditei!</p>
      </div>
      <div class="my_map">
        <div class="my_comment_avatar">
          <img src="assets/images/logo.png"  alt="Logo UFLA News"/>
        </div>
        <p>Sara</p>
      </div>
    </div>
  </div>
</ion-content>
