<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary"> 
    <ion-title>Boletim</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div class="ion-page" main>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Meu Feed</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card  color="medium" class="news_div" style="background-color: rgb(233, 233, 233);">
      <section>
        <ion-card-header>
          <ion-card-title style="color:#000000;font-size: 40px;">Madison, WI</ion-card-title>
          <ion-card-subtitle style="color:#000000;font-size: 16px;">Publicado por DCC-UFLA.</ion-card-subtitle>
          <ion-card-subtitle style="color:#000000;font-size: 12px;">10 mil likes | Publicado à 15 min.</ion-card-subtitle>
        </ion-card-header>
      </section>
      <section>
        <img src="assets/images/news_1.png" class="news_image" />
      </section>
      <section>
        <ion-card-content style="color:#000000;font-size: 20px;">
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </section>
      <div class="center">
        <div>
          <ion-button>
            <ion-icon slot="start" name="text"></ion-icon>
            Comentar
          </ion-button>
          <ion-button>
            <ion-icon slot="start" name="thumbs-up"></ion-icon>
            Curtir
          </ion-button>
        </div>
      </div>
    </ion-card>
  </ion-content>
</div>
