<ion-menu side="end">
  <ion-header color="secondary">
    <ion-toolbar color="secondary">
      <ion-title class="title">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <section >
      <ion-list>
        <ion-item>
          <ion-icon name="home" color="light" slot="end"></ion-icon>
          <ion-label class="label">Meu Feed</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person" color="light" slot="end"></ion-icon>
          <ion-label class="label">Publicadores Inscritos</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="search" color="light" slot="end"></ion-icon>
          <ion-label class="label">Buscar Publicador</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings" color="light" slot="end"></ion-icon>
          <ion-label class="label">Opções de Conta</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="power" color="light" slot="end"></ion-icon>
            <ion-label class="label">Log Out</ion-label>
          </ion-item>
      </ion-list>

    </section>
  </ion-content>
</ion-menu>


<div class="ion-page" main>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Meu Feed</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card  color="medium" class="news_div" tappable *ngFor="let boletim of lstBoletins" >
      <ion-card-header>
        <ion-card-title style="color:#000000">{{boletim.titulo}}</ion-card-title>
        <ion-card-subtitle style="color:#000000">{{boletim.likes}} | {{boletim.dataPublicacao}}</ion-card-subtitle>
      </ion-card-header>
      <img src="assets/images/news_1.png" class="news_image" />
    </ion-card>
  </ion-content>
</div>



<script>
function openMenu() {
  document.querySelector('ion-menu-controller')
    .open();
}
</script>
