<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary"> 
    <ion-title>Boletins</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div class="ion-page" main>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Meu Feed</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card  color="medium" class="news_div" tappable *ngFor="let boletim of lstBoletins" >
      <ion-card-header>
        <ion-card-title style="color:#000000">{{boletim.titulo}}</ion-card-title>
        <ion-card-subtitle style="color:#000000">{{boletim.likes}} | {{boletim.dataPublicacao}}</ion-card-subtitle>
      </ion-card-header>
      <img src="assets/images/news_1.png" class="news_image" />
    </ion-card>
  </ion-content>
</div>
