<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary"> 
    <ion-title>Minhas Inscrições</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  color="light" class="news_div" tappable>
    <ion-card-header>
      <div class="parent_block">
          <img src="assets/images/dcc.jpg" class="news_image" />
          <div class="unseen_notifications">+1000</div>
      </div>
    </ion-card-header>
    
    <ion-card-title style="color:#000000" class="news_title">Departamento de Ciência da Computação</ion-card-title>
  </ion-card>
  <ion-card  color="light" class="news_div" tappable>
    <ion-card-header>
      <div class="parent_block">
          <img src="assets/images/dea.png" class="news_image" />
          <div class="unseen_notifications">+3</div>
      </div>
    </ion-card-header>
    
    <ion-card-title style="color:#000000" class="news_title">Departamento de Engenharia Agrícola</ion-card-title>
  </ion-card>
</ion-content>
