<ion-header>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <ion-toolbar color="secondary">
    <ion-title>Minhas Inscrições</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-card >
    <img src="" />
    <ion-card-header>
      <ion-card-title>

      </ion-card-title>
    <ion-card-subtitle>  </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
